{
  "cache": false,
  "check-coverage": false,
  "extension": [
    ".ts"
  ],
  "exclude": [
    "visual-test/",
    "test/",
    "coverage/",
    "src/main.ts"
  ],
  "sourceMap": true,
  "reporter": [
    "lcov",
    "html"
  ],
  "all": true,
  "instrument": true
}